<div nz-col [nzSpan]="24" [nzLg]="16">
    <form nz-form #f="ngForm" (ngSubmit)="save()" [nzLayout]="'vertical'">
        <nz-form-item nz-row class="mb-sm">
            <nz-form-label>编码</nz-form-label>
            <nz-form-control>
                <input nz-input [(ngModel)]="entity.code" name="code" required />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="mb-sm">
            <nz-form-label>名称</nz-form-label>
            <nz-form-control>
                <input nz-input [(ngModel)]="entity.name" name="name" maxlength="30" required />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="mb-sm">
            <nz-form-label>父级</nz-form-label>
            <nz-form-control>
                <input nz-input [ngModel]="entity.parent_name" name="parent_name" readonly="true" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="mb-sm">
            <nz-form-label>显示顺序</nz-form-label>
            <nz-form-control>
                <nz-input-number [(ngModel)]="entity.sn" name="sn" [nzMin]="1" [nzPrecision]="0" [nzStep]="1" [nzMax]="99"></nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="mb-sm">
            <nz-form-label>备注</nz-form-label>
            <nz-form-control>
                <textarea nz-input rows="3" [(ngModel)]="entity.remark" name="remark" maxlength="300" placeholder="300字以内"></textarea>
            </nz-form-control>
        </nz-form-item>

        <div class="modal-footer">
            <button nz-button [nzType]="'primary'" [disabled]="!f.form.valid || !f.form.dirty">保存</button>
        </div>
    </form>
</div>