<div class="modal-header">
    <div class="modal-title">密码修改</div>
</div>
<form nz-form [formGroup]="validateForm">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="oldPassword">原密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzErrorTip="密码输入错误！">
            <input nz-input type="password" formControlName="oldPassword" id="oldPassword">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="validateForm.get('password').hasError('required') ? '请输入密码！' : validateForm.get('password').hasError('type') ?
        '密码长度不小于8位！' : validateForm.get('password').hasError('pattern') ? '密码不允许有空格！' : ''">
            <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()">
            <nz-progress *ngIf="showStrength1" nz-tooltip [nzPercent]="33" [nzShowInfo]="false" nzStatus="exception"></nz-progress>
            <nz-progress *ngIf="showStrength2" nz-tooltip [nzPercent]="66" [nzShowInfo]="false"></nz-progress>
            <nz-progress *ngIf="showStrength3" nz-tooltip [nzPercent]="100" [nzShowInfo]="false"></nz-progress>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>确认密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="validateForm.get('checkPassword').hasError('required') ? '请输入密码！' :
        validateForm.get('checkPassword').hasError('confirm') ? '两次密码不一致！' : ''">
            <input nz-input type="password" formControlName="checkPassword" id="checkPassword">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" [disabled]="!validateForm.valid " (click)="submitForm()">确认</button>
        </nz-form-control>
    </nz-form-item>
</form>