<div class="aside-inner">
    <div>
        <ng-container *ngIf="authed == false; else logined">
            <div class="user-block">
                <div class="user-block-dropdown">
                    <nz-avatar class="avatar" nzSize="large" nzIcon="user" (click)="login()"></nz-avatar>
                    <div class="info">
                        <a (click)="login()">{{ 'login' | translate }}</a>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #logined>
            <div class="user-block">
                <div nz-dropdown nzType="flex" nzJustify="center" nzAlign="middle" class="user-block-dropdown" nzTrigger="click" [nzDropdownMenu]="menu">
                    <nz-avatar class="avatar" *ngIf="!avatar.avatar" nzSize="large" nzIcon="user"></nz-avatar>
                    <nz-avatar class="avatar" *ngIf="avatar.avatar" nzSize="large" [nzSrc]="avatar.avatar"></nz-avatar>
                    <div class="info">
                        &nbsp;&nbsp; {{user.fullname}}
                    </div>
                </div>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu *ngIf="authed" class="user-block-menu">
                        <li nz-menu-item (click)="showSetting()">{{ 'settings' | translate }}</li>
                        <li nz-menu-item (click)="changePassword()">{{ 'changePassword' | translate }}</li>
                        <li nz-menu-item (click)="logout()">{{ 'relogin' | translate }}</li>
                        <!-- <li nz-menu-item (click)="logoff()">{{ 'logoff' | translate }}</li> -->
                    </ul>
                </nz-dropdown-menu>
            </div>
        </ng-template>
    </div>
    <sidebar-nav class="d-block py-lg"></sidebar-nav>
</div>