<!-- <div class="login-select">
    <nz-radio-group [(ngModel)]="type" (click)="switch($event)">
        <label nz-radio nzValue="0">账号密码登录</label>
        <label nz-radio nzValue="1">手机验证码登录</label>
    </nz-radio-group>
</div>
<form nz-form nzLayout="inline" [formGroup]="form" role="form">
    -->
<!-- 账号密码登录 
    <ng-container *ngIf="type === '0'">
        <nz-form-item>
            <nz-form-control nzErrorTip="请输入正确的用户名、手机或邮箱！">
                <nz-input-group nzSize="default" nzPrefixIcon="user">
                    <input nz-input formControlName="userName" placeholder="用户名、手机或邮箱">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="请输入密码！">
                <nz-input-group nzSize="default" nzPrefixIcon="lock">
                    <input nz-input type="password" formControlName="password" placeholder="请输入密码">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </ng-container>
    <nz-form-item *ngIf="type === '0'" id="login-btn">
        <nz-form-control>
            <button nz-button type="submit" (click)="submit()" [disabled]="passCount" nzType="primary" nzSize="default"
                [nzLoading]="loading" class="ant-btn__block">{{ passCount ? passCount + 's' : '登录' }}</button>
        </nz-form-control>
    </nz-form-item>

    -->
<!-- 手机验证码登录 -->
<!--
    <ng-container *ngIf="type === '1'">
        <nz-form-item>
            <nz-form-control nzErrorTip="请输入正确的手机号码！">
                <nz-input-group nzSize="default" nzPrefixIcon="mobile">
                    <input nz-input formControlName="mobile" placeholder="手机号码">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzErrorTip]="form.get('captcha').hasError('required') ? '请输入验证码' ? form.get('captcha').hasError('confirm') ? '请输入正确验证码' : ''">
                <nz-row [nzGutter]="8">
                    <nz-col [nzSpan]="16">
                        <nz-input-group nzSize="default" nzPrefixIcon="barcode">
                            <input nz-input formControlName="captcha" placeholder="验证码">
                        </nz-input-group>
                    </nz-col>
                    <nz-col [nzSpan]="8">
                        <nz-input-group>
                            <button nz-button nzSize="default" (click)="getCaptcha()" [disabled]="count != 0" class="ant-btn__block"
                                style="font-size: 0.95em">{{ count ? count + 's' : '获取' }}</button>
                        </nz-input-group>
                    </nz-col>
                </nz-row>
            </nz-form-control>
        </nz-form-item>
    </ng-container>

    <nz-form-item *ngIf="type === '1'" id="login-btn">
        <nz-form-control>
            <button nz-button type="submit" (click)="submit()" nzType="primary" nzSize="default" [nzLoading]="loading"
                class="ant-btn__block">登录</button>
        </nz-form-control>
    </nz-form-item>
    <br />
    <nz-form-item>
        <nz-form-control style="width:300px;">
            <span *ngIf="!form.dirty && error" class="text-red">{{error}}</span>
            <span *ngIf="info" class="text-cyan">{{info}}</span>
        </nz-form-control>
    </nz-form-item>
</form> -->